body {
  font-family: Raleway;
  color: rgb(84, 84, 84);
  background: rgb(159, 137, 100) url('./paper2_med.jpg');
  margin: 10px 30px;
  background-position: center;
  background-repeat: repeat;
  background-size: 100% auto;
  background-attachment: fixed;
}

a {
  cursor: pointer;
}

main {
  margin-top: 70px;
}

.title {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}
.sub-title {
  text-align: center;
  font-size: 1.2em;
  font-weight: 700;
  margin-top: 20px;
  color: rgb(255, 255, 255);
}

@media (max-width: 369px) {
  h1.title {
    font-size: 1.8em;
  }
}

@media (min-width: 768px) {
  h1.title {
    font-size: 3em;
  }
  h2.sub-title {
    font-size: 1.5em;
  }
}

/* /* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
/* @media (min-width: @screen-sm-min) { ... } */

/* Medium devices (desktops, 992px and up) */
/* @media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) */
/* @media (min-width: @screen-lg-min) { ... }  */